<div>
  <form #contactForm="ngForm" (ngSubmit)="onSubmit()" class="px-5 py-2">

    <p>
      <label for="id" class="px-2">ID</label>
      <input type="number" name="id" ngModel>
    </p>
  
    <p>
      <label for="name" class="px-2">Destination</label>
      <input type="text" name="destination" ngModel>
    </p>
  
    <p>
      <label for="director" class="px-2">Type</label>
      <input type="text" name="type" ngModel>
    </p>
  
    <p>
      <button type="submit">Submit</button>
    </p>
  
</form>
</div>
